#description {
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

.optionsContainer {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}